/* Page Elements */

.slider_nav {
	height: 50px;
	width: 99.7%;
	margin-top: -45px !important;
	box-shadow:0 0 4px #AAAAAA;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	margin: auto;
	margin-bottom: 7px;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 40%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(40%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

/*============================*/
/*======= Twitter Bar ========*/
/*============================*/

#twitterbar {
	background: #f8f8f8;
	background: #fff;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	overflow: hidden;
	margin: auto;
	margin-bottom: 7px;
	margin-top: 7px;
}

#twittertext {
	padding: 10px 15px 10px 15px;
	font-size: 14px;
}
