/* iFeature 3 Style.css */

/* Reset and Design Constant Styles */

*html, body{padding:0;border:0;margin:0;}
body, div, p, input, textarea{font-size:14px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
p{margin: 0 0 10px 0;clear: both;}
a{color:#0085CF;text-decoration:none}
a:hover{text-decoration:none}
#wrapper input, textarea{color:#666;border:#ccc 1px solid;border-radius:2px;-moz-border-radius: 2px;}
input[type=submit]{cursor:pointer;}
input {border: 1px solid #ccc;}
input[type=submit]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
input[type=reset]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
a img{border:none}
a{outline:none}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 15px;
}

/* Fonts  */

.meta {color: #989898;font-size: 12px;font-weight: 500;padding-bottom: 10px;}

.entry {}

.entry p {clear: none;}

.error {font-size:28px; text-align:center;}

a:hover {color: #5ca9d6;}

/* Header  */

header {margin-top: 15px;}

#header_contact{ text-align:right;}

#logo {margin-bottom: 5px;}

/* Social Icons  */

#social {margin-bottom: 5px;}

.icons {text-align:right;margin-top: 10px;}

.icons a img {opacity:.6; padding-left: 3px;}

.icons a:hover img {opacity:1;}

/* Nav  */

#nav{position:relative;padding-left:4px;z-index:2000}
#nav .parent > a, #nav .parent > a:hover{background-image:url(../images/arrow.png);background-position:right;background-repeat:no-repeat}
#nav ul ul .parent > a, #nav ul ul .parent:hover > a:hover, #nav ul ul li:hover ul .parent > a, #nav ul ul li:hover ul .parent > a:hover{background-image:url(../images/arrow-right.png);background-position:right;background-repeat:no-repeat}
#nav ul, #nav ul li{display:inline;list-style:none;padding:0;margin:0}
#nav ul li a{display:inline-block;font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:14px;color:#fff;line-height:36px;text-decoration:none;text-shadow:1px 1px 1px #333;padding:0 15px;margin-left:-4px;border-right:#777 1px solid}
#nav ul li a:hover{box-shadow:inner 0 0 5px #000;-moz-box-shadow:inset 0 0 5px #000;-webkit-box-shadow:inset 0 0 5px#000;background:#444}
#nav .current-menu-item a{color:#ccc;text-shadow:none}
#nav .current-menu-item .sub-menu a{color:#fff;text-shadow:1px 1px 1px #333}
#nav .menu > li:first-child a:hover{border-radius:0}
#nav .menu .sub-menu li a:hover{border-radius:0}
#nav ul li{position:relative}
#nav li ul{display:none;position:absolute;top:27px;left:7px}
#nav li ul a{background:#555}
#nav ul ul li:hover ul, #nav ul ul ul li:hover ul{left:0;margin:-37px 0 11px 180px}
#nav ul li:hover ul{display:inline-block}
#nav ul ul, #nav ul li:hover ul ul, #nav ul ul li:hover ul ul{display:none}
#nav ul li:hover ul, #nav ul ul li:hover ul, #nav ul ul ul li:hover ul{display:block}
#nav ul li:hover ul li a, #nav ul ul li:hover ul li a, #nav ul ul ul li:hover ul li a{border:#777 1px solid;margin:-1px 0 0 -11px}
#nav ul li:hover ul li a{width:150px;padding:0 14px}
#nav ul ul li:hover ul li a{width:150px;padding:0 14px;background-color:#888}
#nav ul ul ul li:hover ul li a{width:150px;padding:0 14px;background-color:#aaa}

/* Home Button */

#home {float: left;border-right:#777 1px solid;margin-right:4px;}
#home a:hover{opacity: .5}

/* Search Bar */

.searchform {
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width: 160px;
	padding: 0;
	margin: 7px 5px 5px 10px;
	height: 20px;
	box-shadow:inset 0 0 1px #222;
	background: #fff;
}

.center .searchform {float:none;}

#morefoot .searchform {float:left;}

.searchform .s{
	margin:0;
	border: none;
	margin: 3px 2px 2px 20px;
	font-size: 12px;
	height: 14px;
	width:	130px;
	color: #333;
	overflow: hidden;
}

#magnify {float:left;position:absolute;margin: 5px 0 0 5px;}

#magnify {margin: 0 0 0 5px\0/IE8+9; /* IE8+9  */}

.searchform .s:focus {outline:0; border:none;}

.searchform .searchsubmit {display:none;}

/* Post Container Styling  */

.post_container {
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 15px;
	
}

.post_container ul {list-style: disc;margin-left: 21px;list-style-position: inside;}

ol {
   list-style-position: inside;
   margin-left: 21px;
}

.postformats {
	float:right;
	margin: -5px -15px 0 0px;
	background: #dedede;
	height: 46px;
	width: 50px;
	border-radius: 0px 4px 0px;
	-moz-border-radius: 0px 4px 0px;	
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.postbar {
	margin: -3px -15px -10px -15px;
	border-top: 1px #e5e5e5 solid;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	padding: 0 10px 0 10px;
	position: absolute;
	width: 96.7%;
	height: 22px;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 40%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(40%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.next-posts-single {text-align:right;padding:5px; margin-top:-35px;}

.prev-posts-single {text-align:left;padding:5px; margin-top: -10px; margin-bottom: 5px; margin-left: -5px; max-width:300px;}

.comments {text-align: left;float: left;padding-top: 3px;font-size: 12px;}

.share {text-align:right;float:right;}

.share a img {opacity:.8;}

.share a:hover img {opacity:1;}

.tags {margin-bottom: 15px;font-size: 12px;}

#fb {width: 440px;}

.gplusone {margin-bottom: 6px;}

.post-edit-link {background-color: #757575;padding: 2px 3px;color: white;font-size: 10px;border-radius: 3px;-moz-border-radius: 3px;}

/* Posts Navigation */

.next-posts {float: left;padding: 5px 0 5px 0; }

.prev-posts { float: right;padding: 5px 0 5px 0; }

#crumbs {padding: 2px 5px 0px 5px;}

.pagnext-posts {float: left;padding: 5px;margin-bottom: 10px;}

.pagprev-posts { float: right;padding: 5px;margin-bottom: 10px; }

/* HTML styling  */

dt {font-weight: bold; margin-top: 5px; margin-bottom: 5px; margin-left: 26px; }

dd {margin-bottom: 15px; margin-left: 26px; }

ul, ol { margin: 0 0 10px 0; }

th {padding-right: 20px; padding-bottom: 10px;}

td {border-top: 1px solid #DDD;padding: 6px 100px 6px 0;}

table {border-bottom: 1px solid #DDD;}

pre {margin-left: 20px;}

ol, ul {list-style-position: inside;margin-left: 21px; list-style-type: }

/* Sidebar  */

.widget-container {
	color: #222;
	margin-bottom: 10px;
	padding: 0px 10px 10px 10px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff; /* Old browsers */
}

.textwidget {padding-top:10px;}

#sidebar .widget-container td {padding-right: 15px;}

#sidebar .widget-container th {padding-right: 30px}

#sidebar240 .widget-container td {padding-right: 1px;}

#sidebar240 .widget-container th {padding-right: 18px}

.widget-title{font-size:18px;color:#444;text-shadow:none;padding:3px;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;margin: 0 -10px 0 -10px;padding: 2px 15px 2px 15px;border-bottom: 1px solid #aaa;background: #f8f8f8;/* Old browsers */background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 40%, #dddddd 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(40%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* IE10+ */background: linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */}

.widget-container ul{padding-top:10px; margin-left: 0px; list-style: none;}

/* Blog and Post Styles */

.post{}
.entry-title{margin-bottom:2px}
.single .entry-title{text-align:left;line-height:30px;margin-top:12px;margin-bottom:10px}
.entry-title a{font-size:22px}
.nav-previous{text-align:left}
.nav-next{text-align:right}
.entry-meta, .entry-utility, .entry-meta a, .entry-utility a{font-size:12px}
.entry-meta, .entry-utility{color:#888}
.comment, .trackback, .pingback{padding:10px;margin:10px 0 10px 0}
.odd{background:#f8f8f8}
#form-allowed-tags code{font-size:12px}
#respond input, #respond textarea{margin:0 5px 5px 0;overflow:auto}
#respond textarea{width:99%;height:150px}
.avatar{margin:0 5px 5px 0;float:left}

/* Footer  */

#footer {
	background: #222;
	border-top: 2px solid #ccc;
}

.footer-widgets {
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
}

.footer-widget-title {
	font-size:18px;color:#fff;font-weight: 400;
}

.footer-widgets ul{padding:5px 0px 5px 0px; margin-left: 0px;}

.footer-widgets li {
	list-style-type: none;
	padding-left: 0;
}

.footer-item ul {
	padding-left: 15px;
}

#afterfooter {
	width: 100%; 
	background: black; 
	color: white;

}

#afterfooterwrap {
	width: 980px; 
	height:45px; 
	margin: auto;
	padding-top: 10px;
}

#afterfootercopyright {
	max-width: 200px;
	float: right;
	position: relative;
	margin-top: 5px;
}

#afterfootermenu {
	float:left;
	position: absolute;
	width: 400px;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

#afterfootermenu a {
	color: #F5F5F5;
}

#afterfootermenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
}

#afterfootermenu li {
	display: inline; 
}

.credit { height: 22px; width: 148px; z-index: 99; margin: auto; margin-top: 5px;	}

/* WordPress Styles  */

.featured-image {margin-top: 8px;margin-right: 12px;margin-bottom: 10px;}

.alignnone {
	display: block;
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.size-full {
	max-width: 610px;
	height: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 95%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}



blockquote { 
	background-color: #ccc;
	margin: 10px;
	padding: 3px;
}

blockquote p {margin: 10px; }

.sticky { }

.gallery-caption { }

/* Lists */

li { padding-left: 5px; }

/* Comments  */

.comments_container {
	background: #fff;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	margin-bottom: 15px;

}

.commentsh2{
	font-size: 20px;
	font-weight: bold;
}



#comments .navigation { padding: 0 0 18px 0; }

label[for="comment"] {display: block;}

/* Comment lists  */

ol.commentlist { list-style: none; }
ol.commentlist p { margin-left: 8px; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { margin: 0 10px 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 11px; }
ol.commentlist li.comment div.comment-meta a { color: #888; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; margin-left: 8px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fafafa;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.odd { background: #fff;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form { }

textarea {margin-top: 10px;padding-bottom: 10px;width: 90%;}