/* Blue */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

.meta a{color: #5ca9d6;}

#imenu {
	background: #6cafd8; /* Old browsers */
	background: -moz-linear-gradient(top,  #6cafd8 0%, #2593ce 44%, #0085cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cafd8), color-stop(44%,#2593ce), color-stop(100%,#0085cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* IE10+ */
	background: linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cafd8', endColorstr='#0085cf',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;
	margin-bottom: 5px;
}
